@keyframes rotate-zoom {
    from {
        transform: rotateY(0) scale(1);
    }
    25% {
        transform: rotateY(0) scale(1);
    }
    50% {
        transform: rotateY(180deg) scale(1.4);
    }
    75% {
        transform: rotateY(180deg) scale(1.4);
    }
    to {
        transform: rotateY(360deg) scale(1);
    }
}