@mixin flex-box($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex_direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin font-type($family, $style, $weight) {
  font-family: $family, sans-serif;
  font-style: $style;
  font-weight: $weight;
}