$white: #fff;
$lightgrey: rgba(255, 255, 255, 0.70);
$darkgrey: #464547;
$lightgrey: #4E494A;
$grey: #666;
$aqua: #55C2D8;
$white40: rgba(255, 255, 255, 0.40);
$light-theme-color: #EF8767;
$most-light-theme-color: #F4BAAE;
$header-main-p: #9D7E7E;
$whiter: #FFE5E0;
$vanela: #8A5A5A;
$lightblack: #40403F;
$mostblack: #17120F;

