// importing fontface \\
@import 'kit/fontface';
// importing mixin \\
@import 'kit/mixin';
// importing functions \\
@import 'kit/functions';
// importing variables \\
@import 'kit/variables';
// importing placeholder \\
@import 'kit/placeholder';

@media screen and (max-width: 480px) {
    .footer {
        padding: 56px 0 75px;
        &-container {
            grid-template-columns: auto;
            row-gap: 30px;
            text-align: center;
            margin: 0;
            &__infoblock {
                &-email {
                    margin-bottom: 0;
                }
            }
            &__logo, &__copyright {
                justify-content: center;
                align-items: center;
                margin: 0;
            }
        }
    }
    
.footer {
    width: 100%;
    // padding: 40px 0 70px;
    
    height: 292px;
    max-height: 292px;

    &-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &__logo {
            order: 1;
            text-align: center;
            padding: 0;
            img {
                width: 79px;
                height: 75px;
            }
            p {
                font-size: 18px;
                letter-spacing: 3.6px;
                margin-top: 10px;
                color: $white;
                text-transform: uppercase;
                margin-left: 15px;

                @include font-type('Source Sans Pro', normal, 400);
            }
        }
        &__infoblock {
            padding-top: 30px;
            order: 2;
            
            &-address {
                margin-bottom: 0px;
            }
            &-email {
                margin-bottom: 0px;
            }
            &-first{
                padding-left: 0px;
            }
        }
        &__copyright {
            order: 3;
            padding-left: 0px;
        }
    }
}

.display-inline-block{
    display: inline-block;
}
}