// importing fontface \\
@import 'kit/fontface';
// importing mixin \\
@import 'kit/mixin';
// importing functions \\
@import 'kit/functions';
// importing variables \\
@import 'kit/variables';
// importing placeholder \\
@import 'kit/placeholder';

.footer {
    width: 100%;
    background-color: $light-theme-color;

    &-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        margin: 0px 0px;

        &__logo {
            text-align: center;
            padding: 43px 0px 43px 90px;
            img {
                width: 79px;
                height: 75px;
            }
            p {
                font-size: 18px;
                letter-spacing: 3.6px;
                margin-top: 10px;
                color: $white;
                text-transform: uppercase;
                margin-left: 15px;

                @include font-type('Source Sans Pro', normal, 400);
            }
        }
        &__infoblock {
            padding-top: 66px;
            
            @include font-type('Source Sans Pro', normal, 400);

            &-address {
                @extend %footer-item;
                @include font-type('Source Sans Pro', normal, 400);
            }
            &-email {
                @extend %footer-item;
                @include font-type('Source Sans Pro', normal, 400);
                &:hover {
                    color: $white;
                }
            }
            &-first{
                padding-left: 110px;
            }
        }
        &__copyright {
            @include flex-box(row, flex-end, end);
            @extend %footer-item;
        }
    }
}

.display-inline-block{
    display: inline-block;
}
