// importing fontface \\
@import 'kit/fontface';
// importing mixin \\
@import 'kit/mixin';
// importing functions \\
@import 'kit/functions';
// importing variables \\
@import 'kit/variables';
// importing placeholder \\
@import 'kit/placeholder';

@media screen and (max-width: 768px) {
    .header{
        background-image: none;
        background-color: $light-theme-color;
        width: 100%;
        &__gradient{
            background-image: none;
        }
    }

    .header-nav {
        position: relative;
        &__menu {
            display: none;
            position: absolute;
            right: 20%;
            top: 80%;
            margin: 0;

            &-item {
                margin: 15px 0;
            }
        }
        &__burger {
            @include flex-box(column, space-between, center);
        }
    }


    .header-main {
        @include  flex-box(column, center, center);
        &__container-img {
            width: 121px;
            height: 115px;
            background-image: url('../../assets/footer-logo.png');
        }
        &__container-circle {
            background-color: transparent;
        }
        &__container-title {
            color: $white;
        }
        &__container-p {
            margin: 0px;
            line-height: 1.5;
            max-width: 333px;
            color: white;
        }
    }
}