// importing fontface \\
@import 'kit/fontface';
// importing mixin \\
@import 'kit/mixin';
// importing functions \\
@import 'kit/functions';
// importing variables \\
@import 'kit/variables';
// importing placeholder \\
@import 'kit/placeholder';

.header {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/header-bg.jpeg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $white;
    @include flex-box(column, start, center);
    &__gradient{
        position: absolute;
        width: 100%;
        height: 20%;
        top: 80%;
        background-image: linear-gradient(transparent 0%, white);
    }
}
.header-nav {
    padding: 5px 0 0;
    width: 100%;
    margin: 0 auto;
    background-color: $light-theme-color;

    @include flex-box(row, space-around, center);
    &__menu {
        list-style-type: none;

        @include flex-box(row, space-between, center);
        &-item {
            margin: 0 15px;
            position: relative;
            border-bottom: 2px solid transparent;
            padding-bottom: 10px;
    
            &-link {
                font-size: 14px;
                letter-spacing: 2.8px;
                
                @include font-type('Source Sans Pro', normal, 400);
                
                text-transform: uppercase;
            }
            &::before {
                content: '';
                width: 0;
                height: 2px;
                background-color: $white;
                position: absolute;
                bottom: -10px;
                left: 0;
                transition: all .5s ease-in-out;
            }
            &:hover {
                border-bottom: 2px solid $white;
            }
        }
    }
    &__logo {
        letter-spacing: 2px;
        font-size: 20px;
        padding-bottom: 10px;
        text-transform: uppercase;

        @include font-type('Source Sans Pro', normal, 600);

    }
    &__burger {
        width: 25px;
        height: auto;
        display: none;

        div {
            width: 100%;
            height: 3px;
            background-color: $white;
            margin: 3px 0;
        }
    }
}
  
.header-main {
    height: 100%;

    @include  flex-box(column, center, center);
    &__container {
        max-width: 430px;
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center;

        @include flex-box(column, space-between, center);
    }
    &__container-img {
        width: 141px;
        height: 135px;
        background-image: url('../../assets/header-logo.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__container-circle {
        background-color: white;
        width: 511px;
        height: 511px;
        top: 177px;
        border-radius: 50%;

        margin-bottom: 10px;
        margin-top: 40px;
        &__div {
            position: relative;
            width: 245px;
            height: 363px;
            top: 67px;
            left: 133px;
            text-align: -webkit-center;
        }
    }
    &__container-title {
        color: $most-light-theme-color;
        font-style: normal;
        margin: 0 0 42px 0;

        font-family: SignPainter, serif;
        font-size: 70px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: center;
    }
    &__container-p {
        color:  $header-main-p;
        font-size: 24px;
        margin: 10px;
        text-align: center;
        z-index: 1;

        @include font-type('Source Sans Pro', normal, 400);
    }
}
