@media screen and (max-width: 480px) {
    .main {
        &-container {
            &__articles {
                flex-wrap: wrap;
                &-block {
                    max-width: 100%;
                    margin-bottom: 24px;
                }
            }
        } 
    }
    
.main {
    &-container {
        max-width: 90%;
        padding: 70px 0 100px;

        &__title {
            color: $lightgrey;
            width: 316px;
            height: 107px;
            font-size: 43px;
            font-weight: 400;
            line-height: 43px;
            margin-bottom: 105px;
        }
        &__p {
            color: $darkgrey;
            width: 480px;
            letter-spacing: 0em;
            font-size: 24px;
        }
        &__articles {
            color: black;
            width: 100%;

            @include flex-box(column, space-between, flex-start);
            &-block {
                max-width: 100%;
                color: black;
                padding-right: 12.5px;
                padding-left: 12.5px;
                padding-bottom: 30px;

                @include font-type('Source Sans Pro', normal, 400);
                width: 445px;
                height: 183px;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        &__link {
            margin: 0;
            text-align: center;
            position: relative;
            transition: all .5s ease-out;
            

            &-btn {
                text-transform: uppercase;
                color: $white;
                background-color: $light-theme-color;
                padding: 8px 18px;
                border-radius: 18px;
                font-size: 14px;
                letter-spacing: 1.4px;
                transition: all .3s ease-out;
                border: 2px solid $light-theme-color;
                
                &:hover {
                    background-color: $white;
                    color: $light-theme-color;
                }
            }
            
        }
    }
}
.learn {
    &-container {
        &__title {
            margin: 0 0 49px;
            
            width: 480px;
            height: 138px;
            font-size: 60px;
            font-weight: 400;
            line-height: 61px;
            letter-spacing: 0em;
            text-align: center;
        }
        &__btn {
            margin: 0 0 45px;
            
            &-link {
                padding: 35px 45px;
                font-size: 50px;
            }
        }
        &__p {
            width: 378px;
            height: 121px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
}
}