// importing fontface \\
@import 'kit/fontface';
// importing mixin \\
@import 'kit/mixin';
// importing functions \\
@import 'kit/functions';
// importing variables \\
@import 'kit/variables';
// importing placeholder \\
@import 'kit/placeholder';

.main {
    background-color: $whiter;
    &-container {
        max-width: 80%;
        margin: 0 auto;
        padding: 70px 0 100px;

        
        &__title {
            color: $vanela;
            font-style: normal;
            margin: 0 0 40px;
            
            font-family: SignPainter;
            font-size: 60px;
            font-weight: 400;
            line-height: 62px;
            letter-spacing: 0em;
            text-align: center;
        }
        &__p {
            color: $lightblack;
            font-size: 24px;
            margin: 0 0 45px;
            text-align: center;
            font-family: Poppins;
            line-height: 32px;

            @include font-type('Source Sans Pro', normal, 400);
        }
        &__articles {
            color: $mostblack;
            width: 100%;

            @include flex-box(row, space-between, flex-start);
            &-block {
                max-width: 50%;
                color: $grey;
                font-size: 16px;
                padding-right: 40px;
                margin-bottom: 45px;

                @include font-type('Source Sans Pro', normal, 400);
            }
        }
        &__link {
            margin: 0;
            text-align: center;
            position: relative;
            transition: all .5s ease-out;
            

            &-btn {
                text-transform: uppercase;
                color: $white;
                background-color: $light-theme-color;
                padding: 8px 18px;
                border-radius: 18px;
                font-size: 14px;
                letter-spacing: 1.4px;
                transition: all .3s ease-out;
                border: 2px solid $light-theme-color;
                
                &:hover {
                    background-color: $white;
                    color: $light-theme-color;
                }
            }
            
        }
    }
}
.learn {
    width: 100%;
    height: auto;
    color: $white;
    padding: 80px 0;
    background-image: url('../../assets/learn-more-image.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &-container {
        height: 100%;
        text-align: center;

        @include flex-box(column, space-between, center);
        
        &__title {
            margin: 0 0 65px;
            font-size: 64px;
            color: white;

            @include font-type('Oswald', normal, 700);
            
            font-family: SignPainter;
        }
        &__btn {
            margin: 0 0 45px;
            text-align: center;
            
            &-link {
                padding: 35px 45px;
                display: block;
                background-color: $white;
                color: $light-theme-color;
                font-size: 50px;
                border-radius: 50%;
                transition: all .5s ease-in-out;
            }
            &:hover {
                a {
                    background-color: $light-theme-color;
                    color: $white;
                }
            }
        }
        &__p {
            font-size: 24px;

            @include font-type('Source Sans Pro', normal, 400);
        }
    }
}
