@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.footer-container__copyright, .footer-container__infoblock-email, .footer-container__infoblock-address {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.footer {
  width: 100%;
  background-color: #EF8767;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 0px;
}
.footer-container__logo {
  text-align: center;
  padding: 43px 0px 43px 90px;
}
.footer-container__logo img {
  width: 79px;
  height: 75px;
}
.footer-container__logo p {
  font-size: 18px;
  letter-spacing: 3.6px;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-container__infoblock {
  padding-top: 66px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-container__infoblock-address {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-container__infoblock-email {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-container__infoblock-email:hover {
  color: #fff;
}
.footer-container__infoblock-first {
  padding-left: 110px;
}
.footer-container__copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}

.display-inline-block {
  display: inline-block;
}/*# sourceMappingURL=footer.css.map */