@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 56px 0 75px;
  }
  .footer-container {
    grid-template-columns: auto;
    row-gap: 30px;
    text-align: center;
    margin: 0;
  }
  .footer-container__infoblock-email {
    margin-bottom: 0;
  }
  .footer-container__logo, .footer-container__copyright {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .footer {
    width: 100%;
    height: 292px;
    max-height: 292px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-container__logo {
    order: 1;
    text-align: center;
    padding: 0;
  }
  .footer-container__logo img {
    width: 79px;
    height: 75px;
  }
  .footer-container__logo p {
    font-size: 18px;
    letter-spacing: 3.6px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .footer-container__infoblock {
    padding-top: 30px;
    order: 2;
  }
  .footer-container__infoblock-address {
    margin-bottom: 0px;
  }
  .footer-container__infoblock-email {
    margin-bottom: 0px;
  }
  .footer-container__infoblock-first {
    padding-left: 0px;
  }
  .footer-container__copyright {
    order: 3;
    padding-left: 0px;
  }
  .display-inline-block {
    display: inline-block;
  }
}/*# sourceMappingURL=footer.mobile.css.map */