@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/header-bg.jpeg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.header__gradient {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 80%;
  background-image: linear-gradient(transparent 0%, white);
}

.header-nav {
  padding: 5px 0 0;
  width: 100%;
  margin: 0 auto;
  background-color: #EF8767;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-nav__menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-nav__menu-item {
  margin: 0 15px;
  position: relative;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
}
.header-nav__menu-item-link {
  font-size: 14px;
  letter-spacing: 2.8px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.header-nav__menu-item::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.header-nav__menu-item:hover {
  border-bottom: 2px solid #fff;
}
.header-nav__logo {
  letter-spacing: 2px;
  font-size: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.header-nav__burger {
  width: 25px;
  height: auto;
  display: none;
}
.header-nav__burger div {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.header-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-main__container {
  max-width: 430px;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header-main__container-img {
  width: 141px;
  height: 135px;
  background-image: url("../../assets/header-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.header-main__container-circle {
  background-color: white;
  width: 511px;
  height: 511px;
  top: 177px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 40px;
}
.header-main__container-circle__div {
  position: relative;
  width: 245px;
  height: 363px;
  top: 67px;
  left: 133px;
  text-align: -webkit-center;
}
.header-main__container-title {
  color: #F4BAAE;
  font-style: normal;
  margin: 0 0 42px 0;
  font-family: SignPainter, serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
}
.header-main__container-p {
  color: #9D7E7E;
  font-size: 24px;
  margin: 10px;
  text-align: center;
  z-index: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}/*# sourceMappingURL=header.css.map */