@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .header {
    background-image: none;
    background-color: #EF8767;
    width: 100%;
  }
  .header__gradient {
    background-image: none;
  }
  .header-nav {
    position: relative;
  }
  .header-nav__menu {
    display: none;
    position: absolute;
    right: 20%;
    top: 80%;
    margin: 0;
  }
  .header-nav__menu-item {
    margin: 15px 0;
  }
  .header-nav__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-main__container-img {
    width: 121px;
    height: 115px;
    background-image: url("../../assets/footer-logo.png");
  }
  .header-main__container-circle {
    background-color: transparent;
  }
  .header-main__container-title {
    color: #fff;
  }
  .header-main__container-p {
    margin: 0px;
    line-height: 1.5;
    max-width: 333px;
    color: white;
  }
}/*# sourceMappingURL=header.mobile.css.map */