@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.main {
  background-color: #FFE5E0;
}
.main-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 70px 0 100px;
}
.main-container__title {
  color: #8A5A5A;
  font-style: normal;
  margin: 0 0 40px;
  font-family: SignPainter;
  font-size: 60px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: center;
}
.main-container__p {
  color: #40403F;
  font-size: 24px;
  margin: 0 0 45px;
  text-align: center;
  font-family: Poppins;
  line-height: 32px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.main-container__articles {
  color: #17120F;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.main-container__articles-block {
  max-width: 50%;
  color: #666;
  font-size: 16px;
  padding-right: 40px;
  margin-bottom: 45px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.main-container__link {
  margin: 0;
  text-align: center;
  position: relative;
  transition: all 0.5s ease-out;
}
.main-container__link-btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #EF8767;
  padding: 8px 18px;
  border-radius: 18px;
  font-size: 14px;
  letter-spacing: 1.4px;
  transition: all 0.3s ease-out;
  border: 2px solid #EF8767;
}
.main-container__link-btn:hover {
  background-color: #fff;
  color: #EF8767;
}

.learn {
  width: 100%;
  height: auto;
  color: #fff;
  padding: 80px 0;
  background-image: url("../../assets/learn-more-image.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.learn-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.learn-container__title {
  margin: 0 0 65px;
  font-size: 64px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-family: SignPainter;
}
.learn-container__btn {
  margin: 0 0 45px;
  text-align: center;
}
.learn-container__btn-link {
  padding: 35px 45px;
  display: block;
  background-color: #fff;
  color: #EF8767;
  font-size: 50px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.learn-container__btn:hover a {
  background-color: #EF8767;
  color: #fff;
}
.learn-container__p {
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */