@media screen and (max-width: 480px) {
  .main-container__articles {
    flex-wrap: wrap;
  }
  .main-container__articles-block {
    max-width: 100%;
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=main.mobile.css.map */