@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.footer-container__copyright, .footer-container__infoblock-email, .footer-container__infoblock-address {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.footer-container__copyright, .footer-container__infoblock-email, .footer-container__infoblock-address {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/header-bg.jpeg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.header__gradient {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 80%;
  background-image: linear-gradient(transparent 0%, white);
}

.header-nav {
  padding: 5px 0 0;
  width: 100%;
  margin: 0 auto;
  background-color: #EF8767;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-nav__menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-nav__menu-item {
  margin: 0 15px;
  position: relative;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
}
.header-nav__menu-item-link {
  font-size: 14px;
  letter-spacing: 2.8px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.header-nav__menu-item::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.header-nav__menu-item:hover {
  border-bottom: 2px solid #fff;
}
.header-nav__logo {
  letter-spacing: 2px;
  font-size: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.header-nav__burger {
  width: 25px;
  height: auto;
  display: none;
}
.header-nav__burger div {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.header-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-main__container {
  max-width: 430px;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header-main__container-img {
  width: 141px;
  height: 135px;
  background-image: url("../../assets/header-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.header-main__container-circle {
  background-color: white;
  width: 511px;
  height: 511px;
  top: 177px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 40px;
}
.header-main__container-circle__div {
  position: relative;
  width: 245px;
  height: 363px;
  top: 67px;
  left: 133px;
  text-align: -webkit-center;
}
.header-main__container-title {
  color: #F4BAAE;
  font-style: normal;
  margin: 0 0 42px 0;
  font-family: SignPainter, serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
}
.header-main__container-p {
  color: #9D7E7E;
  font-size: 24px;
  margin: 10px;
  text-align: center;
  z-index: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.footer-container__copyright, .footer-container__infoblock-email, .footer-container__infoblock-address {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.main {
  background-color: #FFE5E0;
}
.main-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 70px 0 100px;
}
.main-container__title {
  color: #8A5A5A;
  font-style: normal;
  margin: 0 0 40px;
  font-family: SignPainter;
  font-size: 60px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: center;
}
.main-container__p {
  color: #40403F;
  font-size: 24px;
  margin: 0 0 45px;
  text-align: center;
  font-family: Poppins;
  line-height: 32px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.main-container__articles {
  color: #17120F;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.main-container__articles-block {
  max-width: 50%;
  color: #666;
  font-size: 16px;
  padding-right: 40px;
  margin-bottom: 45px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.main-container__link {
  margin: 0;
  text-align: center;
  position: relative;
  transition: all 0.5s ease-out;
}
.main-container__link-btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #EF8767;
  padding: 8px 18px;
  border-radius: 18px;
  font-size: 14px;
  letter-spacing: 1.4px;
  transition: all 0.3s ease-out;
  border: 2px solid #EF8767;
}
.main-container__link-btn:hover {
  background-color: #fff;
  color: #EF8767;
}

.learn {
  width: 100%;
  height: auto;
  color: #fff;
  padding: 80px 0;
  background-image: url("../../assets/learn-more-image.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.learn-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.learn-container__title {
  margin: 0 0 65px;
  font-size: 64px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-family: SignPainter;
}
.learn-container__btn {
  margin: 0 0 45px;
  text-align: center;
}
.learn-container__btn-link {
  padding: 35px 45px;
  display: block;
  background-color: #fff;
  color: #EF8767;
  font-size: 50px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.learn-container__btn:hover a {
  background-color: #EF8767;
  color: #fff;
}
.learn-container__p {
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.footer-container__copyright, .footer-container__infoblock-email, .footer-container__infoblock-address {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.footer {
  width: 100%;
  background-color: #EF8767;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 0px;
}
.footer-container__logo {
  text-align: center;
  padding: 43px 0px 43px 90px;
}
.footer-container__logo img {
  width: 79px;
  height: 75px;
}
.footer-container__logo p {
  font-size: 18px;
  letter-spacing: 3.6px;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-container__infoblock {
  padding-top: 66px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-container__infoblock-address {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-container__infoblock-email {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-container__infoblock-email:hover {
  color: #fff;
}
.footer-container__infoblock-first {
  padding-left: 110px;
}
.footer-container__copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}

.display-inline-block {
  display: inline-block;
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.footer-container__infoblock-address, .footer-container__infoblock-email, .footer-container__copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .header {
    background-image: none;
    background-color: #EF8767;
    width: 100%;
  }
  .header__gradient {
    background-image: none;
  }
  .header-nav {
    position: relative;
  }
  .header-nav__menu {
    display: none;
    position: absolute;
    right: 20%;
    top: 80%;
    margin: 0;
  }
  .header-nav__menu-item {
    margin: 15px 0;
  }
  .header-nav__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-main__container-img {
    width: 121px;
    height: 115px;
    background-image: url("../../assets/footer-logo.png");
  }
  .header-main__container-circle {
    background-color: transparent;
  }
  .header-main__container-title {
    color: #fff;
  }
  .header-main__container-p {
    margin: 0px;
    line-height: 1.5;
    max-width: 333px;
    color: white;
  }
}
@media screen and (max-width: 480px) {
  .main-container__articles {
    flex-wrap: wrap;
  }
  .main-container__articles-block {
    max-width: 100%;
    margin-bottom: 24px;
  }
  .main-container {
    max-width: 90%;
    padding: 70px 0 100px;
  }
  .main-container__title {
    color: #4E494A;
    width: 316px;
    height: 107px;
    font-size: 43px;
    font-weight: 400;
    line-height: 43px;
    margin-bottom: 105px;
  }
  .main-container__p {
    color: #464547;
    width: 480px;
    letter-spacing: 0em;
    font-size: 24px;
  }
  .main-container__articles {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main-container__articles-block {
    max-width: 100%;
    color: black;
    padding-right: 12.5px;
    padding-left: 12.5px;
    padding-bottom: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 445px;
    height: 183px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
  .main-container__link {
    margin: 0;
    text-align: center;
    position: relative;
    transition: all 0.5s ease-out;
  }
  .main-container__link-btn {
    text-transform: uppercase;
    color: #fff;
    background-color: #EF8767;
    padding: 8px 18px;
    border-radius: 18px;
    font-size: 14px;
    letter-spacing: 1.4px;
    transition: all 0.3s ease-out;
    border: 2px solid #EF8767;
  }
  .main-container__link-btn:hover {
    background-color: #fff;
    color: #EF8767;
  }
  .learn-container__title {
    margin: 0 0 49px;
    width: 480px;
    height: 138px;
    font-size: 60px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
  }
  .learn-container__btn {
    margin: 0 0 45px;
  }
  .learn-container__btn-link {
    padding: 35px 45px;
    font-size: 50px;
  }
  .learn-container__p {
    width: 378px;
    height: 121px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.footer-container__infoblock-address, .footer-container__infoblock-email, .footer-container__copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 56px 0 75px;
  }
  .footer-container {
    grid-template-columns: auto;
    row-gap: 30px;
    text-align: center;
    margin: 0;
  }
  .footer-container__infoblock-email {
    margin-bottom: 0;
  }
  .footer-container__logo, .footer-container__copyright {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .footer {
    width: 100%;
    height: 292px;
    max-height: 292px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-container__logo {
    order: 1;
    text-align: center;
    padding: 0;
  }
  .footer-container__logo img {
    width: 79px;
    height: 75px;
  }
  .footer-container__logo p {
    font-size: 18px;
    letter-spacing: 3.6px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .footer-container__infoblock {
    padding-top: 30px;
    order: 2;
  }
  .footer-container__infoblock-address {
    margin-bottom: 0px;
  }
  .footer-container__infoblock-email {
    margin-bottom: 0px;
  }
  .footer-container__infoblock-first {
    padding-left: 0px;
  }
  .footer-container__copyright {
    order: 3;
    padding-left: 0px;
  }
  .display-inline-block {
    display: inline-block;
  }
}
@keyframes rotate-zoom {
  from {
    transform: rotateY(0) scale(1);
  }
  25% {
    transform: rotateY(0) scale(1);
  }
  50% {
    transform: rotateY(180deg) scale(1.4);
  }
  75% {
    transform: rotateY(180deg) scale(1.4);
  }
  to {
    transform: rotateY(360deg) scale(1);
  }
}/*# sourceMappingURL=styles.css.map */